html {
  font-size: 10px;
  background: url('./challenge-1.jpg') bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
body{
  background-color: rgba(255, 200, 0, 0.200);
  min-height: 100vh;
  display: grid;
  align-items: stretch;
  justify-content: left;
}

.keys {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap:10px;
  align-items: center;
  justify-content: center;
}

.key {
  transition:  all 0.05s;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px 10px 2px 2px;
}

.playing {
  background-color: rgba(255, 200, 0, 0.700);
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  background-color: rgb(255, 255, 255);
  display: block;
  color: #000000;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  border-radius: 100px;
  font-size: 2rem;
}

.sound {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: rgb(255, 255, 255);
}
